# Django
SECRET_KEY=your-django-secret-key
DEBUG=True

# M-Pesa
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_PASSKEY=your_passkey
MPESA_ENVIRONMENT=sandbox
MPESA_DEMO_MODE=True
